*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.download{
    position: fixed;
    height: 60px;
    width: 60px;
    display: block;
    z-index: 6;
    left: 190vh;
    top: 87vh;
    background-color: rgb(66 74 255 / 41%);
    border-radius: 50px;
}
.download>img{
    position: fixed;
    height: 60px;
    width: 60px;
    display: block;
    z-index: 6;
    top: 87vh;
    left: 190vh;
    cursor: pointer;
}
.download>img:hover{
    transform: scale(70px);
}
@font-face {
    font-family: 'Yaikali','Casual Ligatures',' Sans Serif' ;
    src: url("Assets/yaikali-j9W7y.otf") format("opentype");
}
body{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
header{
    width: 1700px;
    display: flex;
    align-items: center;
    padding: 7px 100px;
    position: fixed;
    z-index: 2;
    top: 0px;
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 40%);
    left: 0%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70px;
}
.logo {
    height: 35px;
    width: 140px;
    /* margin-right: auto; */
    /* margin-left: 100px; */
}
.logo:hover{
    transform: scale(102%);
}
.navbar{
    display: none;
}
li, a, button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:white;
  text-decoration: none;
  background-color: transparent;
}
.center-nav{
    list-style: none;
    background-color: transparent;
    margin-left: 40px;
}
.center-nav li{
    display: inline-block;
    padding: 0px 12px;
}
.center-nav ul li, .right-nav ul li {
    margin: 0 10px; /* Space between each item */
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.distro,.trail{
    display: none;
}
.fa-fire-flame-curved{
    color: orange;
}
.fa-house{
    color: #0088a9;
}
i.fa-solid.fa-circle-play{
   color: #FFD700,;
}
.fa-star{
    color: goldenrod;
}
.center-nav li a{
    transition: all 0.3s ease 0s;
}
.center-nav li a:hover{
    color: #0088a9;
}
.right-nav{
    list-style: none;
    background-color: transparent;
    margin-right: 62px;
}
.right-nav li{
    display: inline-block;
    padding: 0px 12px;
}
.right-nav #max{
    padding: 7px 5px;
}
.right-nav #max:hover{
    color: white;
}
.right-navli a{
    transition: all 0.3s ease 0s;
}
.right-nav li a:hover{
    color: #0088a9;
}

li > .goldbg{
    background-color: rgb(35, 28, 11);
    border: 1px solid gold;
    border-radius: 25px;
}
.slideshow-container {
    width: 100%;
    max-width: 600px; /* Adjust based on your requirement */
    height: 400px; /* Adjust based on your requirement */
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:top;
    opacity: 0;
    animation: slideAnimation 40s infinite;
}

.slide1 { background-image: url("Assets/Images/kdrasma.jpg"); }
.slide2 { background-image: url("Assets/Images/ek\ yodha\ shoorveer.jpg"); }
.slide3 { background-image: url("Assets/Images/GangsOfBanaras.jpg"); }
.slide4 { background-image: url("Assets/Images/dharavibank.jpg"); }
.slide5 { background-image: url("Assets/Images/kdrama.jpg"); }

@keyframes slideAnimation {
    0%, 16.66% { opacity: 1; }
    20%, 96.66% { opacity: 0; }
}

.slide1 { animation-delay: 0s; }
.slide2 { animation-delay: 5s; }
.slide3 { animation-delay: 15s; }
.slide4 { animation-delay: 25s; }
.slide5 { animation-delay: 35s; }

.content > h3{
    position: absolute;
    top: -300px;
    left: 10px;
    background-color: rgba(77, 86, 116,0.2);
    border-left: 3px solid #0088a9;
    padding: 5px 9px;

}


.content {
    position: absolute;
    bottom: 100px;
    left: 50px;
    color: white;
    text-align: left;
    background-color: transparent;
}


h1 {
    font-size: 55px;
    margin: 0;
    background-color: transparent;
}

p {
    font-size: 19px;
    margin: 14px 6px;
    background-color: transparent;

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background: rgb(47,204,255);
    background: linear-gradient(105deg, rgba(47,204,255,1) 16%, rgba(0,76,121,1) 63%);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
     border-radius: 13px;
     width:100px;
}
.btn:hover {
    background-color: rgb(6, 0, 41);
}
.btn-1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 120px;
    }
.info{
    background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12px );
-webkit-backdrop-filter: blur( 12px );
border-radius: 10px;
} 
i.fa-circle-plus span{
    transform: scale(102%);
}
i.fa-circle-plus:active{
    transform: scale(105%);
}
section{
    position: relative;
    width: 100%;
    height: 390vh;
    top: 700px;
    background: rgb(41, 41, 41);
background-color: rgb(0, 0, 0);
    overflow: hidden;
 
}
.fa-chevron-right{
    color: #00c2ff;
}

section > .head1{
    font-size: 22px;
    color: whitesmoke;
    position: absolute;
    top: 30px;
    left: 50px;
}


.container-1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    overflow-x: scroll;
    /* width: 150vw; */
    height: auto;
    overflow-y: hidden;
    padding: 80px 60px;
}
.container-1::-webkit-scrollbar{
display: none;
}
.show{
    overflow: hidden;
    transition: transform(2s);
    min-width:180px ;
    height:auto;
}
.shows-1{
    height: 289px;
    width: 187px;
    background-color: aliceblue;
    border: 6px solid black;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    flex: 1 1 200px;
 }
.shows-1>img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.shows-1>img:hover{
    transform: scale(101%);
}
section > .head2{
    font-size: 22px;
    color: whitesmoke;
    position: absolute;
    top: 440px;
    left: 50px;
}
.container-2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    overflow-x: scroll;
    /* width: 150vw; */
    height: auto;
    overflow-y: hidden;
    padding: 80px 60px;
}
.container-2::-webkit-scrollbar{
    display: none;
    }
.shows-2{
    height: 289px;
    width: 187px;
    background-color: aliceblue;
    border: 6px solid black;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 22px;
}
.shows-2>img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.shows-2>img:hover{
    transform: scale(101%);
}
.head3{
    font-size: 22px;
    color: whitesmoke;
    position: absolute;
    top:925px;
    left: 50px;
}
.container-3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    overflow-x: scroll;
    /* width: 150vw; */
    height: auto;
    overflow-y: hidden;
    padding: 80px 60px;
}
.container-3::-webkit-scrollbar{
    display: none;
    }
.shows-3{
    height: 289px;
    width: 187px;
    background-color: aliceblue;
    border: 6px solid black;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}
.shows-3>img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.shows-3>img:hover{
    transform: scale(101%);
}

.head4{
    font-size: 22px;
    color: whitesmoke;
    position: absolute;
    top:1355px;
    left: 50px;
}
.container-4{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    overflow-x: scroll;
    /* width: 150vw; */
    height: auto;
    overflow-y: hidden;
    padding: 80px 60px;
}
.container-4::-webkit-scrollbar{
    display: none;
    }
.shows-4{
    height: 289px;
    width: 187px;
    background-color: aliceblue;
    border: 6px solid black;
    /* position: relative; */
    /* top: 500px; */
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
    /* left: 85px; */
    border-radius: 18px;
}
.shows-4>img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.shows-4>img:hover{
    transform: scale(101%);
}
.head5{
    font-size: 22px;
    color: whitesmoke;
    position: absolute;
    top: 2630px;
    left: 50px;

}
.container-5{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    overflow-x: scroll;
    padding-top: 50px;
}
.shows-5{
    height: 35vh;
    /* width: 359px; */
    background-color: aliceblue;
    border: 6px solid black;
    /* position: relative; */
    /* top: 615px; */
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
    /* left: -3px; */
    border-radius: 17px;
    overflow: hidden;
    min-width: 360px;
}
.container-5::-webkit-scrollbar{
    display: none;
    }
.shows-5>img{
    height:100%;
    width: 100%;
    object-fit:fill;
 border-radius: 10px;

}
.shows-5>img:hover{
    transform: scale(105%);
}
.head6{
    font-size: 18px;
    color: whitesmoke;
    position: absolute;
    top: 1770px;
    left: 50px;
}
.container-6{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.channels-1 {
    height: 60px;
    width: 280px;
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    margin: 10px 18px;
}
.channels-1 >img{
    height: 40px;
    width: 45px;
    object-fit: cover;
    border-radius: 210px;
    position: relative;
    top: 7px;
    left: 13px;
}
.channels-1 > .ch-text{
    color: #00c2ff;
    cursor: pointer;
    padding: 27px 30px;
    margin: 0px;
}
.channels-1:hover img{
    transform: scale(105%);
}
.head7{
    font-size: 18px;
    color: whitesmoke;
    position: absolute;
    top: 1995px;
    left: 50px;
}
.container-7{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 80px;
}
.channels-2 {
    height: 60px;
    width: 280px;
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    margin: 10px 18px;
}
.channels-2 >img{
    height: 40px;
    width: 45px;
    object-fit: cover;
    border-radius: 210px;
    position: relative;
    top: 7px;
    left: 13px;
}
.channels-2 > .ch-text{
    color: #00c2ff;
    cursor: pointer;
    padding: 23px 69px;
    margin: 0px 0px;
    font-size: 17px;
}
.channels-2:hover img {
    transform: scale(105%);

}

.head8{
    font-size: 22px;
    color: whitesmoke;
    position: absolute;
    top: 2220px;
    left: 50px;

}
.container-8{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    overflow-x: scroll;
    /* width: 150vw; */
    height: auto;
    overflow-y: hidden;
    padding: 80px 60px;
    padding-top: 69px;

}
.container-8::-webkit-scrollbar{
    display: none;
    }
.shows-8{
    height: 289px;
    width: 187px;
    background-color: aliceblue;
    border: 6px solid black;
    /* position: relative; */
    /* top: 1110px; */
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
    /* left: 85px; */
    border-radius: 18px;
}
.shows-8>img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.shows-8>img:hover{
    transform: scale(105%);
}
footer{
    height: 65vh;
    width: 100%;
    background-color: black;
    position: relative;
    top: 693px;
 
}
.genres{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 18px;
    justify-content: space-around;
    height: 104px;
    /* min-width: 14px; */
    margin: 0px 22px;
}
a.trend-lnk {
    color: white;
    font-size: 16px;
    display: block;
    position: relative;
    top: 10px;
}
a.trend-lnk:hover{
    color: #0097c5;
}
.expand {
    cursor: pointer;
    display: block;
    text-align: center;
    color: #0097c5;
    position: relative;
    top: 34px;
    font-size: 15px;
}
.expand:active{
    color: #0097c5;
}

.footer-org{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 10px;
    position: relative;
    z-index: 0;
    top: 150px;
    justify-content: normal;

}hr {
    top: 25vh;
    position: relative;
    /* color: rgba(0, -12, 20, 0); */
}
.footer-org::before{
    background-image: linear-gradient(180deg, rgba(0, 193, 252, 0) -11%, rgba(0, 142, 248, 0.96) 100%);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 137%;
    opacity: .2;
    position: absolute;
    width: 100%;
}
.about-us{
    width: 640px;
    height: 183px;
    background-color: transparent;

}
.detail-content {
    padding-left: 22%;
}
.detail-content>img{
    height: 50px;
}
.detail-content>p{
    color: #fff;
    font-size: 14px;
}
.detail-content .follow-apps {
    align-items: center;
    display: flex;
    margin-top: 10px;
}
p.follow-apps-text  {
    color: #ccc;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.17;}
 .follow-icons {
    align-self: flex-end;
    display: flex;
    margin-top: 0px;
    align-items: baseline;
    position: relative;
    top: -20px;
    cursor: pointer;
 }
    i.fa-brands {
        margin-left: 6px;
        font-size: 29px;
        margin: 0px 6px;
    }
    i.fa-brands:hover {
        transform: scale(110%);
    }
    .company {
        display: flex;
        flex-direction: column;
        height: 180px;
        width: 10vw;
        margin-left:45px;
    }
    .company-hd{
        align-items: center;
        color: #ccc;
        display: flex;
        font-size: 19px;
        font-weight: bold;
        justify-content: flex-start;
        line-height: 2.31;
    }
    .company-links{
        color: white;
        font-size: 10px;
        display: flex;
        /* position: relative; */
        top: 10px;
        flex-direction: column;
        font-size: 11px;
        
    }
    .company-links:hover{
        color: #0097c5;
        }
        
    a.links:hover{
        color: #0097c5;
    }
    .legal{
        display: flex;
        flex-direction: column;
        height: 180px;
        width: 10vw;
        margin-left: 30px;
    }
    .legal-hd{
        align-items: center;
        color: #ccc;
        display: flex;
        font-size: 19px;
        font-weight: bold;
        justify-content: flex-start;
        line-height: 2.31;
    }
    .legal-links{
        color: white;
        font-size: 10px;
        display: flex;
        /* position: relative; */
        top: 10px;
        flex-direction: column;
        font-size: 11px;
    }
    .legal-links:hover{
        color: #0097c5;
    }
    a.links{
        color: white;
        font-size: 13px;
        display: block;
        position: relative;
        top: -4px;
        padding: 5px 4px;
    }
    /* .qr>img{
        height: 120px;
        width: 120px;
        position: absolute;
        left: 145vh;
        bottom: 50px;
    }
    .qr{
        height: auto;
        width: 40vh;
    } */
    h4 {
        position: relative;
        color: white;
        top: 177px;
        left: 20px;
        font-weight: 200;
        font-size: 14px;
        display: inline-block;
    }
/* @keyframes slide {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
   */
@media (max-width:1200px){
    header{
        width: 115%;
        padding: 0px 0px;
        margin-left: -54px;
    }
    .logo{
        margin-left: 70px;
    }
    .slide {
        background-size: cover;
        height: 100vh;
    }
    .center-nav{
        width: fit-content;
        /* margin: 1px 0px; */
        margin-left: 30px;
        font-size: 12px;
    }
    .right-nav {
        width: fit-content;
        margin-right: -82px;
        font-size: 12px;
    }
    .right-nav li {
        display: inline-block;
        padding: 0px 12px;
    }
    .content{
        position: absolute;
        bottom: 58px;
    }
    .head5{
        top: 2790px;
    }
    .head6{
        top: 1765px;
    }
    .head7{
        top: 2075px;
    }
    .head8{
    top: 2385px;
    }
    .shows-5{
        width: 280px;
    }
    .shows-8{
        top: 1190px;
    }
    .channels-1{
        top: 550px;
    }
    .content > h3{
        position: absolute;
        top: -185px;
    }
    section{
        height: 545vh;
        top: 100vh;
    }
    .banner > img {
        position: absolute;
        left: 18%;
        top: 27%;
        cursor: pointer;
    }
    .footer-org{
        top: 108px;
        
    }
    .footer-org::before {
        background-image: linear-gradient(180deg, rgba(0, 193, 252, 0) -11%, rgba(0, 142, 248, 0.96) 100%);
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        height: 120%;
        opacity: .2;
        position: absolute;
        width: 100%;
    }
    footer{
        height: 77vh;
        top: 555px;
    }
    h4{
        top: 115px;
    }
    .download {
        position: fixed;
        height: 60px;
        width: 60px;
        display: block;
        z-index: 6;
        top: 87vh;
        background-color: rgb(66 74 255 / 41%);
        left: 175vh;
        border-radius: 50px;
    }
    .download>img {
        position: fixed;
        height: 60px;
        width: 60px;
        display: block;
        z-index: 6;
        top: 87.2vh;
        left: 175vh;
        cursor: pointer;
    }
}


@media (max-width:1150px){
    header{
        width: 120%;
        /* padding: 21px -23px; */
        font-size: 13px;
        margin-left: -40px;

    }
    /* .logo{
    height: 37px;
    width: 143px;
    margin-right: auto;
    background-color: transparent;
    margin-left: 40px;
} */
    
    .center-nav{
        width: fit-content;
        margin: 1px -78px;
        margin-left: 0px;
    }
    .center-nav .navi{
        display: none;
    }
    .genres{
        margin-left: 40px;
    }
    .footer-org::before {
        height: 118%;
    }
    .right-nav {
        width: fit-content;
        margin-right: 195px;
    }
   
    .logo{
        width:100px;
        height:auto;

    }
    .slide{
        width: 100%;
        height: 100vh;
    }
    .download{
        left: 180vh;
    }
    .download>img{
        left: 180vh;
    }
}
@media (max-width:1100px){
    header{
        width: 1525px;

    }
    .center-nav{
        margin-left: 50px;  
    }
    .right-nav{
        MARGIN-LEFT: -90px;
    }
    a.gold {
        display: none;
    }
    a.trail {
        display: none;
    }
    a.log{
        display: none;
    }
    .logo{
        width:100px;
        height:auto;

    }
    
    .shows-1{
        top: 75px;   
    }
    .shows-2{
        top:200px ;   
    }
    .shows-3{
        top: 480px;   
    }
    .shows-4{
        top: 630px;   
    }
    .banner>img{
        top: 26%;
        left: 17%;
        height: 83px;   
    }
    .channels-1 {
        top: 740px;
    }
    .head3{
        top: 835px;
    }
    .head4{
        top: 1245px;
    }
    .head6 {
        top: 1590px;
    }
    .head5 {
        top: 2590px;
    }


    .channels-2 {
        top: 1040px;
    }
    .head7 {
        top: 1905px;
    }
    .head8 {
        top: 2205px;
    }
    .shows-8{
        top: 1350px;   
    }
      .slide{
        width: 100%;
        height: 95vh;
    }
    section{
        top: 95vh;
        height: 515vh;
    }
    footer {
        height: 84vh;
        top: 480px;
    }
    h4 {
        top: 155px;
    }
    .footer-org {
        top: 153px;
    }
    a.links {
        /* color: white; */
        font-size: 11px;
    }    
    a.trend-lnk {
        /* color: white; */
        font-size: 15px;
    }
    .download {
        position: fixed;
        height: 60px;
        width: 60px;
        display: block;
        z-index: 6;
        top: 87vh;
        background-color: rgb(66 74 255 / 41%);
      left: 160vh;
        border-radius: 50px;
    }
    .download>img {
        position: fixed;
        height: 60px;
        width: 60px;
        display: block;
        z-index: 6;
        top: 87.2vh;
       left: 160vh;
        cursor: pointer;
    }
    .detail-content>img {
        height: 37px;
    }
}

@media (max-width:1050px){
    header {
        width: 1523px;
    }

    .center-nav .navi{
        display: none;
    }
    a.log {
        display: none;
    }
    .logo{
        width:100px;
        height:auto;

    }
    a.bell{
        display: none   ;
    }
    .slide{
        width: 100%;
        height: 90vh;
    }
    .download {
        position: fixed;
        height: 60px;
        width: 60px;
        display: block;
        z-index: 6;
        /* left: 182vh; */
        top: 85vh;
        background-color: rgb(66 74 255 / 41%);
        left: 160vh;
        border-radius: 50px;
    }
    .download>img {
        position: fixed;
        height: 60px;
        width: 60px;
        display: block;
        z-index: 6;
        top: 85vh;
        left: 160vh;
        cursor: pointer;
    }
    section{
        top: 90vh;
    }
}
@media(max-width:1000px){
    header {
        width: 180%;
        height: 42px;
    }
    .center-nav {
        width: 90vh;
        /* margin: 0px 48px; */
        padding-top: 20px;
        margin-left: 11px;
    }
    .logo{
        width:120px;
        height:auto;

    }a.vdesi{
        display: none;
    }
    section{
        top: 85vh;
        height: 500vh;
    }
    .right-nav {
        width: 452px;
        margin-right: -40px;
    }a.distro{
        display: none;
    }
    .slide{
        width: 100%;
        height: 85vh;
    }
    .channels-1 {
        height: 45px;
        width: 250px;
        background-color: rgb(37, 37, 37);
        border-radius: 5px;
        margin: 10px 18px;
    }
    .channels-2 > .ch-text {
        padding: 23px 57px;
    }
    .channels-1 >img {
        height: 32px;
        width: 31px;
        object-fit: cover;
        border-radius: 210px;
        position: relative;
        top: 7px;
        left: 13px;
    }
    .channels-2 {
        height: 45px;
        width: 250px;
        background-color: rgb(37, 37, 37);
        border-radius: 5px;
        margin: 10px 18px;
    }
    .channels-2 >img {
        height: 32px;
        width: 31px;
        object-fit: cover;
        border-radius: 210px;
        position: relative;
        top: 7px;
        left: 13px;
    }
    .shows-5 {
        
        width: 292px;
        background-color: aliceblue;
        border: 6px solid black;


        box-shadow: inset 4px 4px 10px rgb(0 0 0 / 82%);

        border-radius: 17px;
    }
  .show{
    height:260px;
    /* width: 100%; */
  }
  h1.head2{
    top: 440px;
  }
  .shows-2{
    top: 170px;
  }
  h1.head3{
    top: 861px;
  }
  .shows-3{
    top: 440px;
  }
  h1.head4{
top: 1290px;
  }
  .shows-4 {
    top: 560px;
}
.head6 {
    top: 1645px;
}.channels-1{
    /* top: 650px; */
}
.channels-2{
    /* top: 930px; */
}
.head7 {
    top: 1920px;
}
.head5 {
    top: 2530px;
}
.shows-5{
    width: 100%;
}
.head8 {
    top: 2180px;
}
.shows-8 {
    top: 1470px;
}
footer{
    height: 90vh;
}
  .banner>img{
    top: 23.5%;
        left: 18%;
        height: 80px;
  }
    .download{
        left: 145vh;
    }
    .download>img{
        left: 145vh;
    }
}
@media(max-width:950px){
    header{
        width: 170%;

    }
    .center-nav{
        width: 50vh;
        margin: 0px -10px;
        padding-top: 20px;
        margin-left: 172px;
    }
    section{
        height: 450vh;
        top: 80vh;
        
    }    footer {
        height: 72vh;
        top: 440px;
    }
    .head5{
        top:2300px;
    }
    .logo{
        width:130px;
        height:auto;

    }
    .head8 {
        top: 2000px;
    }
    .shows-8 {
        top: 1220px;
    }
    .slide{
        width: 100%;
        height: 80vh;
    }
    .banner > img {
        position: absolute;
        left: 21%;
        top: 25.5%;
        cursor: pointer;
}
.qr{
    width: 30vh;
}
.qr>img{
    height: 100px;
    width: 100px;
}
.download{left: 135vh;}
.download>img{left: 135vh;}
}

@media(max-width:900px){
    header{
        width: 100%;
        margin-left: 0px;
    }
    .center-nav :nth-child(5){
        display: none;
    }    
    .center-nav {
        width: 74vh;
        margin-left: 0vw;
        /* padding-top: 20px;*/
    }
    .right-nav{
        width: 30rem;
        margin-right: -70px;
    }
    section {
        height: 500vh;
        top: 420px;
    }
    .logo{
        width:100px;
        height:auto;

    }
    .slide{
        width: 100%;
        height: 75vh;
    }
    .show{
        height:222px;
        min-width: 156px;
    }
    h1.head2 {
        top: 420px;
    }
    .shows-2{top:210px ;
    }
    h1.head3 {
        top: 801px;
    }
    .shows-3{top: 435px;
    }
    .head4{
        top:1150px;
    }
    .shows-4{top: 530px;
    }
    .shows-5 {
        width: 300px;
        border: 20px solid black;
        border-radius: 36px;
    }
    .banner > img {
        top: 28.5%;
        height: 65px;
    }
    .shows-8 {
        top: 1120px;
    }
    footer{
        top: 410px;
        height: 100vh;
    }
 
    .head5{top: 2270px;}
    .head6{top: 1457px;}
    .head7{top: 1705px;}
    .head8{top: 1960px;}
    .channels-1{
        height: 40px;
        width: 233px;
        top: 610px;
    }
    .channels-2{
        height: 40px;
        width: 233px;
        top: 860px;
    }
}
@media(max-width:850px){
    header{
display: block;
width: 110vw;
    }   
    .logo {
        width: 100px;
        height: auto;
        margin-left: 30px;
        top: 14px;
    }
     .right-nav {
        width: 332px;
        margin-left: 510px;
        top: 10px;
        position: absolute;
    }
    
    .center-nav {
        width: 85vh;
        margin: -10px 155px;
        padding-top: 0px;
        /* margin-right: -210px; */
        /* margin-left: 90px; */
        position: relative;
        top: -10px;
    }
    .channels-1 {
        height: 33px;
        width: 335px;
        top: 599px;
    }
    .channels-1 > .ch-text {
        bottom: -22px;
    }
    .channels-1 >img {
        height: 27px;
        width: 29px;
        /* object-fit: cover; */
        /* border-radius: 210px; */
        /* position: relative; */
        top: 1px;
        /* left: 13px; */
    }
    .channels-2 {
        height: 33px;
        width: 335px;
        top: 850px;
    }
    .channels-2 > .ch-text {
        /* color: #00c2ff; */
        cursor: pointer;
        /* padding: 0px 11px; */
        /* margin: 19px 14px; */
        font-size: 14px;
    }
    .channels-2 >img {
        height: 27px;
        width: 29px;
        /* object-fit: cover; */
        /* border-radius: 210px; */
        /* position: relative; */
        top: 1px;
        /* left: 13px; */}
        .shows-5 {

            width: 100%;
            border: 20px solid black;
            border-radius: 19%;


        }
    .slide{
        width: 100%;
        height: 84vh;
    }
    .qr{
        height: auto;
        width: 10vh;
    }
    .qr>img{
        height: 50px;
        width: 50px;
    }
}
@media(max-width:800px){
    header{
        display: none;
    }
    .navbar {
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 66, 105, 1) 100%);
        padding: 9px 0px;
        display: block;
        position: fixed;
        z-index: 1;
        width: 100vw;
    }
    .icons{
        margin-right: 30px;
    }
    section{
        height: 470vh;
    }
       .slide {
        width: 100%;
        height: 58vh;
        top: 90px;
    }
    .content{
        top: 100px;
    }
    h1 {
        font-size: 38px;
    }
    .top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo img {
        width: 90px;
        height: auto;
    }
    
    .icons a {
        margin-left: 20px;
    }
    
    .icons img {
        width: 15px;
        height: auto;
    }
    .banner > img {
        top: 28.5%;
    }
    h1.head4 {
        top: 1180px;
    }
    .head5 {
        top: 2400px;
    }
    .head6 {
        top: 1487px;
    }
    .head7 {
        top: 1785px;
    }
    .head8 {
        top: 2050px;
    }
    .nav-links {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        margin: 0;
        border-top: 1px solid #333333;
    }
    
    .nav-links li {
        margin: 0 10px;
    }
    
    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        padding: 8px 12px;
        border-radius: 4px;
        transition: background-color 0.3s;
    }
    .container-1,.container-2,.container-3,.container-4,.container-8{
        width: 105vw;
    }
    .nav-links a:hover {
        border-bottom: 2px solid #0097c5;
    }
    .slide{
        width: 100%;
        height: 84vh;
    }
    .container-5{
        min-width: 290px;
    }
    footer{
        height: 90vh;
    }
    .footer-org{
        font-size: 13px;
        width: 100%;
    }
    .company{
        margin-left: 120px;
        width: 15vw;
    }   
    .legal{
        margin-left: 20px;
        width:15vw;
    }   .detail-content .follow-apps{margin-top: -30px;}
    i.fa-brands{
        font-size: 15px;
    }
    .detail-content {
        /* padding-left: 22%; */
        width: 350px;

    }
     .about-us {
        width: 301px;
    }
        .qr {
            height: auto;
            width: 30vh;
        }
        .qr>img {
            height: 100px;
            width: 100px;
            left: 605px;
        }
    .download{
        left: 700px;
    }
    .download>img{
        left: 700px;
    }
    .channels-2 {
        height: 33px;
        width: 333px;
    }
    .channels-2 > .ch-text {
        /* color: #00c2ff; */
        cursor: pointer;
        /* padding: 0px 11px; */
        /* margin: 19px 14px; */
        font-size: 14px;
    }
}
@media(max-width:750px){
    header{
        display: none;
    }
    .navbar{
        display: block;
        padding: 10px 0px;
        /* margin-left: -30px; */
    }

    section {
        height: 390vh;
        top: 375px;
    }
   h1{
        font-size: 25px;
    }
    p {
        font-size: 11px;}
    .content > h3 {
            top: -125px;
    }
    .slide {
        width: 100%;
        height: 68vh;
        top: 90px;
    }
    .btn,.btn-1{
        height: 40px;
        width: 115px;
    }
    .content{
        top: 159px;
        font-size: 10px;
    }
    .show {
        height: 170px;
    }
    section > .head2 {
        top: 280px;
    }
    h1.head3 {
        top: 691px;
    }
    .shows-2{
        top:150px;
    }
    .banner > img {
        top: 20.5%;
        height: 60px;
        left: 164px;
    }
    .shows-3{
        top:400px;
    }
    h1.head4 {
        top: 950px;
    }
    .shows-4{
        top: 485px;
    }
    .head6 {
        top: 1200px;
    }
    .shows-5 {

        border: 10px solid black;
    }
    .channels-1{
        height: 35px;
        width: 309px;
        font-size: 17px;
        top: 550px;
    }
    .head7 {
            top: 1475px;
        }
    .channels-2 {
        height: 35px;
        width: 309px;
        font-size: 17px;
    }
    .channels-1> .ch-text {
        padding: 26px 41px;
        margin: 2px 1px;
    }
    .channels-2> .ch-text {
        padding: 31px 39px;
        margin: 0px 25px;
    }
    .genres {
        color: white;
        font-size: 14px;
    }
    .head8 {
        top: 1770px;
    }

    .head5 {
        top: 2030px;
    }    
    footer {
        top: 361px;
        height: 73vh;
    }
    .banner > img {
        top: 24.5%;
        height: 60px;
        left: 155px;
    }
    .footer-org{
        font-size: 13px;
        width: 100%;
    }
    .company,.legal{
        margin-left: 30px;
    }
    .download{
        left: 650px;
    }
    .download>img{
        left: 650px;
    }
}
@media(max-width:700px){
  body{
    overflow-x: hidden;
  }
    header{
        display: none;
    }
    .navbar{
        display: block;
        padding: 10px 14px;
        /* margin-left: -30px; */
        width: 124vh;
    }
    .nav-links a{
        font-size: 13px;
    }
    a.trailers1{
        display: none;
    }
    section {
        height: 490vh;
        top: 375px;
    }
   h1{
        font-size: 25px;
    }
    p {
        font-size: 11px;}
    .content > h3 {
            top: -125px;
    }
    .slide {
        width: 100%;
        height: 68vh;
        top: 90px;
    }
    .btn,.btn-1{
        height: 40px;
        width: 115px;
    }
    .content{
        top: 159px;
        font-size: 10px;
    }
    .show {
        height: 230px;
    }
    section > .head2 {
        top: 415px;
    }
    h1.head3 {
        top: 800px;
    }
    .shows-2{
        top:150px;
    }
    .banner > img {
        top: 20.5%;
        height: 60px;
        left: 164px;
    }
    .shows-3{
        top:400px;
    }
    h1.head4 {
        top: 1190px;
    }

    .shows-4{
        top: 485px;
    }
    .head6 {
        top: 1520px;

    }
    .shows-5 {
        border: 10px solid black;

    }
    .channels-1{
        height: 35px;
        width: 279px;
        font-size: 17px;
        /* top: 550px; */
    }
    .head7 {
        top: 1815px;
        }
    .channels-2 {
        height: 35px;
        width: 279px;
        font-size: 17px;
    }
    a.trend-lnk {
        color: white;
        font-size: 8px;
    }
    .expand{
        top: 50px;
    }
    .footer-org::before{
        height: 109%;
    }
    .channels-1> .ch-text {
        padding: 26px 40px;
        margin: 2px 1px;
    }
    .channels-2> .ch-text {
        padding: 31px 39px;
        margin: 0px 25px;
    }

    .head8 {
        top: 2100px;
    }
   
    .head5 {
        top: 2450px;
    }   
     footer {
        top: 360px;
        height: 76vh;
     
    }
    h4 {
        top: 144px;
    }
    .banner > img {
        top: 24.5%;
        height: 60px;
        left: 155px;
    }
    .footer-org{
        font-size: 13px;
        width: 100%;
    }
    .company{
        margin-left: 130px;
    }
    .download{
        left: 600px;
    }
    .download>img{
        left: 600px;
    }
    .legal{
        display: none;
    }
}
@media(max-width:650px){
    header{
        display: none;
    }
    .navbar{
        display: block;
        padding: 10px 0px;
        /* margin-left: -30px; */
        width: 100vw;
    }

    section {
        height: 370vh;
        top: 375px;
    }
   h1{
        font-size: 25px;
    }
    p {
        font-size: 11px;}
    .content > h3 {
            top: -125px;
    }
    .icons {
        margin-right: 60px;
    }
    .nav-links li {
        margin: 0px 0px;
    }
    .nav-links a {
        font-size: 12px;
    }
    .slide {
        width: 100%;
        height: 68vh;
        top: 90px;
    }
    .btn,.btn-1{
        height: 40px;
        width: 115px;
    }
    .content{
        top: 159px;
        font-size: 10px;
    }
    .show {
        height: 170px;
    }
    section > .head2 {
        top: 280px;
    }
    h1.head3 {
        top: 691px;
    }
    .shows-2{
        top:150px;
    }
    .banner > img {
        top: 20.5%;
        height: 60px;
        left: 164px;
    }
    .shows-3{
        top:400px;
    }
    h1.head4 {
        top: 950px;
    }
    .shows-4{
        top: 485px;
    }
    .head6 {
        top: 1200px;
    }

    .channels-1{
        height: 35px;
        width: 260px;
        font-size: 17px;
        top: 550px;
    }
    .head7 {
            top: 1475px;
        }
    .channels-2 {
        height: 35px;
        width: 260px;
        font-size: 17px;
        top: 830px;
    }
    .channels-1> .ch-text {
        padding: 28px 41px;
        margin: 2px 3px;
        font-size: 15px;
    }
    .channels-2> .ch-text {
        padding: 31px 39px;
        margin: 0px 25px;
    }
    .container-1, .container-2, .container-3, .container-4, .container-8 {
        width: 157vw;
    }
    .head8 {
        top: 1770px;
    }
    .shows-8 {
        top: 1140px;
    }
    .head5 {
        top: 2030px;
    }    footer {
        top: 360px;
        height: 68vh;
    }
    .banner > img {
        top: 24.5%;
        height: 60px;
        left: 155px;
    }
    .footer-org{
        font-size: 13px;
        width: 100%;
    }
    .company,.legal{
        margin-left: 30px;
    }
    .nav-links a:hover {
        border-bottom: 2px solid #0097c5;
    }
    .download{
        left: 570px;
    }
    .download>img{
        left: 570px;
    }
}
@media(max-width:600px){
    header{
        display: none;
    }
    .navbar{
        display: block;
        padding: 10px 0px;
        /* margin-left: -30px; */
        width: 100vw;
    }
    .icons {
        margin-right: 18px;
    }   
    section {
        height: 500vh;
        top: 375px;
    }
    .nav-links a:hover {
        border-bottom: 2px solid #0097c5;
    }
    a.mxgold1{
        display: none;
    }
    a.hamburger{
        display: block  ;
    }
   h1{
        font-size: 25px;
    }
    p {
        font-size: 11px;}
    .content > h3 {
            top: -125px;
    }
    .slide {
        width: 100%;
        height: 51vh;
        top: 90px;
    }
    .btn,.btn-1{
        height: 40px;
        width: 115px;
    }
    .content{
        top: 159px;
        font-size: 10px;
    }
    .show {
        height: 240px;
    }
    section > .head2 {
        top: 430px;
    }
    h1.head3 {
        top: 830px;
    }
    .shows-2{
        top:150px;
    }
    .banner > img {
        top: 24.5%;
        height: 50px;
        left: 105px;
    }
    .shows-3{
        top:400px;
    }
    h1.head4 {
        top: 1230px;
    }
    .shows-4{
        top: 485px;
    }
    .head6 {
        top: 1865px;
    }
    .channels-1{
        height: 35px;
        width: 239px;
        font-size: 17px;
        top: 550px;
    }
    .head7 {
            top: 1555px;
        }
        .genres {
            /* display: flex; */
            /* flex-direction: row; */
            color: white;
            font-size: 10px;
            /* justify-content: space-around; */
        }
    .channels-2 {
        height: 35px;
        width: 239px;
        font-size: 17px;
        top: 830px;
    }
    .channels-1> .ch-text {
        padding: 26px 29px;
        margin: 2px 1px;
    }
    .channels-2> .ch-text {
        padding: 31px 39px;
        margin: 0px 25px;
    }

    .head8 {
        top: 2150px;
    }
    .shows-8 {
        top: 1140px;
    }
    .head5 {
        top: 2510px;
    }    footer {
        top: 320px;
        height: 75vh;
    }
  
    .footer-org{
        font-size: 13px;
        width: 100%;
    }
    .company,.legal{
        margin-left:110px;
    }
    .download{
        left: 520px;
    }
    .download>img{
        left: 520px;
    }
}
@media(max-width:550px){
    header{
        display: none;
    }
    .navbar{
        display: block;
        padding: 10px 0px;
        /* margin-left: -30px; */
        width: 100vw;
    }
    .icons {
        margin-right: 18px;
    }   
    section {
        height: 370vh;
        top: 375px;
    }
    .nav-links a:hover {
        border-bottom: 2px solid #0097c5;
    }
   h1{
        font-size: 25px;
    }
    p {
        font-size: 11px;}
    .content > h3 {
            top: -125px;
    }
    .container-1, .container-2, .container-3, .container-4, .container-8 {
        width: 165vw;
    }
    .slide {
        width: 100%;
        height: 48vh;
        top: 90px;
    }
    .btn,.btn-1{
        height: 40px;
        width: 115px;
    }
    .content{
        top: 159px;
        font-size: 10px;
    }
    .show {
        height: 170px;
    }
    section > .head2 {
        top: 280px;
    }
    h1.head3 {
        top: 691px;
    }
    .shows-2{
        top:150px;
    }
    .banner > img {
        top: 24.5%;
        height: 53px;
        left: 75px;
    }

    .shows-3{
        top:400px;
    }
    h1.head4 {
        top: 950px;
    }
    .shows-4{
        top: 485px;
    }
    .head6 {
        top: 1200px;
    }

    .channels-1{
        height: 35px;
        width: 213px;
        font-size: 17px;
        top: 550px;
    }
    .head7 {
            top: 1475px;
        }
        .genres {
            /* display: flex; */
            /* flex-direction: row; */
            color: white;
            font-size: 10px;
            /* justify-content: space-around; */
        }
    .channels-2 {
        height: 35px;
        width: 213px;
        font-size: 17px;
        top: 830px;
    }
    .channels-1> .ch-text {
        padding: 33px 21px;
        margin: -3px 0px;
    }
    .channels-2> .ch-text {
        padding: 31px 39px;
        margin: 0px 16px;
    }
    .about-us {
        width: 285px;
    }
    .head8 {
        top: 1770px;
    }
    .shows-8 {
        top: 1140px;
    }   
    .company-hd,.legal-hd{
        font-size: 18px;
    }
    
    .head5 {
        top: 2030px;
    }    footer {
        top: 320px;
        height: 68vh;
    }
  
    .footer-org{
        font-size: 13px;
        width: 100%;
    }
    .company,.legal{
        margin-left: 30px;
    }
    .download{
        left: 460px;
    }
    .download>img{
        left: 460px;
    }
}
@media(max-width:500px){
    header{
        display: none;
    }
    .navbar{
        display: block;
        padding: 10px 0px;
        /* margin-left: -30px; */
        width: 100vw;
    }
    .icons {
        margin-right: 18px;
    }   
    section {
        height: 490vh;
        top: 375px;
    }
    .nav-links a:hover {
        border-bottom: 2px solid #0097c5;
    }
   h1{
        font-size: 25px;
    }
    p {
        font-size: 11px;}
    .content > h3 {
            top: -125px;
    }
    .detail-content {
        padding-left: 5%;
    }
    .slide {
        width: 100%;
        height: 51vh;
        top: 90px;
    }
    .btn,.btn-1{
        height: 40px;
        width: 115px;
    }
    .content{
        top: 159px;
        font-size: 10px;
    }
    .show {
        height: auto;
        width:auto;
    }
    section > .head2 {
        top: 420px;
    }
    .container-1, .container-2, .container-3, .container-4,.container-8 {
        width: 180vw;
    }
    h1.head3 {
        top: 811px;
    }
    .shows-2{
        top:150px;
    }
    .banner > img {
        top: 24.5%;
        height: 52px;
        left: 50px;
    }
    .shows-3{
        top:400px;
    }
    h1.head4 {
        top: 1210px;
    }
    .shows-4{
        top: 485px;
    }
    .head6 {
        top: 1540px;
    }
 
    .channels-1{
        height: 35px;
        width: 185px;
        font-size: 17px;
        top: 550px;
    }
    .head7 {
            top: 1835px;
        }
        .genres {
            /* display: flex; */
            /* flex-direction: row; */
            color: white;
            font-size: 10px;
            /* justify-content: space-around; */
        }
    .channels-2 {
        height: 35px;
        width: 185px;
        font-size: 17px;
        top: 830px;
    }
    .channels-1> .ch-text {
        padding: 35px 21px;
        margin: -3px 0px;
        font-size: 12px;
    }
    .channels-2> .ch-text {
        padding: 28px 33px;
        margin: 4px 11px;
        font-size: 12px;
    }

    .head8 {
        top: 2120px;
    }
    .nav-links {
        margin-left:0px;
        /* margin: 0px 21px; */
    }
    .nav-links a{
        font-size: 12px;
        /* margin: 0px 21px; */
    }
    .about-us {
        width: 215px;
    }
    .company-hd,.legal-hd{
        font-size: 18px;
    }
    a.links {
        color: white;
        font-size: 8px;
    }
    .head5 {
        top: 2480px;
    }    footer {
        top: 370px;
        height: 85vh;
    }
  
    .footer-org{
        font-size: 13px;
        width: 100%;
    }
    a.trend-lnk {
        color: white;
        font-size: 12px;
    }
    .detail-content>p {
        color: #fff;
        font-family: none;
        font-size: 11px;
    }
    
    p.follow-apps-text {
        color: #ccc;
        font-size: 11px;}    
    .company,.legal{
        margin-left: 170px;
    }
    .download{
        left: 420px;
    }
    .download>img{
        left: 420px;
    }
}
@media(max-width:450px){
    header{
        display: none;
    }
    .navbar{
        display: block;
        padding: 10px 0px;
        /* margin-left: -30px; */
        width: 100vw;
    }
    .icons {
        margin-right: 18px;
    }   
    section {
        height: 370vh;
        top: 375px;
    }
    .nav-links a:hover {
        border-bottom: 2px solid #0097c5;
    }
   h1{
        font-size: 25px;
    }
    p {
        font-size: 11px;}
    .content > h3 {
            top: -125px;
    }
    .slide {
        width: 100%;
        height: 48vh;
        top: 90px;
    }
    .btn,.btn-1{
        height: 40px;
        width: 115px;
    }
    .content{
        top: 159px;
        font-size: 10px;
    }
    .container-6,.container-7{
        left: 10px;
    }
    .show {
        height: 170px;
        width:auto;
    }
    section > .head2 {
        top: 280px;
    }
    h1.head3 {
        top: 691px;
    }
    .shows-2{
        top:150px;
    }
    .banner > img {
        top: 24.5%;
        height: 52px;
        left: 50px;
    }
    .shows-3{
        top:400px;
    }
    h1.head4 {
        top: 950px;
    }
    .shows-4{
        top: 485px;
    }
    .head6 {
        top: 1200px;
    }
    .shows-5 { 
        border: 7px solid black;
    
    }
    .channels-1{
        height: 35px;
        width: 185px;
        font-size: 17px;
        top: 550px;
    }
    .head7 {
            top: 1475px;
        }
        .genres {
            /* display: flex; */
            /* flex-direction: row; */
            color: white;
            font-size: 10px;
            /* justify-content: space-around; */
        }
    .channels-2 {
        height: 35px;
        width: 185px;
        font-size: 17px;
        top: 830px;
    }
    .channels-1> .ch-text {
        padding: 35px 21px;
        margin: -3px 0px;
        font-size: 12px;
    }
    .channels-2> .ch-text {
        padding: 28px 33px;
        margin: 4px 11px;
        font-size: 12px;
    }

    .head8 {
        top: 1770px;
    }
    .shows-8 {
        top: 1140px;
    }
    .nav-links {
        margin-left:0px;
        /* margin: 0px 21px; */
    }
    .nav-links a{
        font-size: 10px;
        /* margin: 0px 21px; */
    }
    .about-us {
        width: 215px;
    }
    .company-hd,.legal-hd{
        font-size: 18px;
    }
    a.links {
        color: white;
        font-size: 8px;
    }
    .head5 {
        top: 2030px;
    }    footer {
        top: 320px;
        height: 68vh;
    }
  
    .footer-org{
        font-size: 13px;
        width: 100%;
    }
    .detail-content>p {
        color: #fff;
        font-family: none;
        font-size: 11px;
    }
    
    p.follow-apps-text {
        color: #ccc;
        font-size: 11px;}    
    .company,.legal{
        margin-left: 15px;
    }
    .download{
        left: 370px;
    }
    .download>img{
        left: 370px;
    }
}
@media(max-width:400px){
    header{
        display: none;
    }
    .navbar{
        display: block;
        padding: 10px 0px;
        /* margin-left: -30px; */
        width: 100vw;
    }
    .icons {
        margin-right: 18px;
    }   
    section {
        height: 430vh;
        top: 375px;
    }
    .nav-links a:hover {
        border-bottom: 2px solid #0097c5;
    }
    .nav-links li {
        margin: -10px -10px;
    }
   h1{
        font-size: 25px;
    }
    i.fa-circle-plus{
        display: none;
    }
    p {
        font-size: 11px;}
    .content > h3 {
            top: -125px;
    }
    .slide {
        width: 100%;
        height: 54vh;
        top: 70px;
        background-position: right;
    }
    .btn,.btn-1{
        height: 40px;
        width: 115px;
    }
    .content{
        top: 159px;
        font-size: 10px;
    }
    .container-6,.container-7{
        left: 10px;
    }
    .show {
        height: auto;
        width:auto;
    }
    section > .head2 {
        top: 420px;
    }
    h1.head3 {
        top: 820px;
    }
    .shows-2{
        top:150px;
    }
    .banner > img {
        top: 25.5%;
        height: 43px;
        left: 30px;
    }
    .shows-3{
        top:400px;
    }
    h1.head4 {
        top: 1210px;
    }
    .shows-4{
        top: 485px;
    }
    .head6 {
        top: 1540px;
    }
    .shows-5 { 
        border: 7px solid black;
  
    }
    .channels-1{
        height: 35px;
        width: 141px;
        font-size: 17px;
        top: 550px;
        contain: content;
    }
    .head7 {
            top: 1835px;
        }
        .genres {
            /* display: flex; */
            /* flex-direction: row; */
            color: white;
            font-size: 8px;
            /* justify-content: space-around; */
            margin: 0px 0px;
            flex-wrap: wrap;
        }
    .channels-2 {
        height: 35px;
        width: 141px;
        font-size: 17px;
        top: 830px;
    }
    .channels-1> .ch-text {
        padding: 12px 0px;
        margin: 3px -11px;
        font-size: 12px;

    }
    .channels-2> .ch-text {
        padding: 28px 13px;
        margin: 4px 11px;
        font-size: 12px;
    }

    .head8 {
        top: 2120px;
    }
    .shows-8 {
        top: 1140px;
    }
    .nav-links {
        margin-left:0px;
        /* margin: 0px 21px; */
    }
    .nav-links a{
        font-size: 10px;
        /* margin: 0px 21px; */
    }
    .about-us {
        width:auto;
    }
    .company-hd,.legal-hd{
        font-size: 18px;
    }
    a.links {
        color: white;
        font-size: 8px;
    }
    .genren.trending {
        margin-left: 20px;
    }
    .head5 {
        top: 2470px;
    }   
    footer {
        top: 340px;
        height: 90vh;
    }
    .container-1, .container-2, .container-3, .container-4, .container-8 {
        width: 245vw;
    }
    .footer-org {
        font-size: 13px;
        width: 100%;
        top: 80px;
    }
    h4 {
        top: 113px;
        font-size: 12px;
    }
    .detail-content>p {
        color: #fff;
        font-family: none;
        font-size: 11px;
    }
    
    p.follow-apps-text {
        color: #ccc;
        font-size: 11px;}    
    .company{
        margin-left: 30px;
        margin-top: -60px;
        width: auto;
    }
    .legal{
        display: none;
    }
    .download{
        left: 280px;
    }
    .download>img{
        left: 280px;
    }
}
@media(max-width:350px){
    header{
        display: none;
    }
    i.fa-circle-plus{
        display: none;
    }
    .navbar{
        display: block;
        padding: 10px 0px;
        /* margin-left: -30px; */
        width: 100vw;
    }
    .icons {
        margin-right: 18px;
    }   
    section {
        height: 390vh;
        top: 375px;
    }
    .nav-links a:hover {
        border-bottom: 2px solid #0097c5;
    }
    .nav-links li {
        margin: -10px -10px;
    }
   h1{
        font-size: 25px;
    }
    p {
        font-size: 11px;}
    .content > h3 {
            top: -125px;
    }
    .container-5{
        width: 135%;
    position: absolute;
    top: 869px;
    }
    .slide {
        width: 100%;
        height: 54vh;
        top: 70px;
        background-position: right;
    }
    
    .btn,.btn-1{
        height: 40px;
        width: 115px;
    }
    .content{
        top: 159px;
        font-size: 10px;
    }
    .container-6,.container-7{
        left: 10px;
    }
    .show {
        width:auto;
        left: 50px;
    }
    section > .head2 {
        top: 280px;
    }
    h1.head3 {
        top: 691px;
    }
    .shows-2{
        top:150px;
    }
    .banner > img {
        top: 25.5%;
        height: 36px;
        left: 30px;
    }
    .shows-3{
        top:400px;
    }
    h1.head4 {
        top: 950px;
    }
    .shows-4{
        top: 485px;
    }
    .head6 {
        top: 1200px;
    }
    .shows-5 { 
        border: 7px solid black;
    }
    .channels-1{
        height: 35px;
        width: 130px;
        font-size: 17px;
        top: 550px;
    }
    .head7 {
            top: 1475px;
        }
        .genres {
            /* display: flex; */
            /* flex-direction: row; */
            color: white;
            font-size: 8px;
            /* justify-content: space-around; */
        }
    .channels-2 {
        height: 35px;
        width: 130px;
        font-size: 17px;
        top: 830px;
    }
    .channels-1> .ch-text {
        padding: 5px 2px;
        margin: -2px 20px;
        font-size: 11px;
        top: -1px;
    }
    .channels-2> .ch-text {
        padding: 27px 16px;
        margin: 4px 6px;
        font-size: 11px;
    }

    .head8 {
        top: 1770px;
    }
    .shows-8 {
        top: 1140px;
    }
    .nav-links {
        margin-left:0px;
        /* margin: 0px 21px; */
    }
    .nav-links a{
        font-size: 10px;
        /* margin: 0px 21px; */
    }
    .about-us {
        width: 192px;
    }
    .company-hd,.legal-hd{
        font-size: 18px;
    }
    a.links {
        color: white;
        font-size: 6px;
    }
    .head5 {
        top: 2030px;
    }   
    footer {
        top: 348px;
        height: 76vh;
    }
  
    .footer-org{
        font-size: 13px;
        width: 100%;
        top: 100px;
    }
    .detail-content>p {
        color: #fff;
        font-family: none;
        font-size: 9px;
    }
    .detail-content{
        font-size: 10px;
    }
    .genres {
        margin-left: 13px;
    }
    p.follow-apps-text {
        color: #ccc;
        font-size: 11px;}    
    .company{
        margin-left: 40px;
    }
    .legal{
        display: none;
    }
    .download{
        left: 270px;
    }
    .download>img{
        left: 270px;
    }
    i.fa-brands{
        margin-left: 6px;
    font-size: 12px;
    }
    h4{
        font-size: 10px;
        top: 110px;
    }
    h1.head {
        font-size: 18px;
}
}
